
@{
    Layout = Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Email confirmation";
}

<h2>@ViewBag.Title</h2>

<p>To complete registration you have to confirm your email. We have sent you an email with confirmation link.</p>
